:root{
        --horizon: #D25B70;
        --sea: #6CB3A9;
        --sun: #F6DF96;
}

body {
        width: 100%;
        height: 100vh;
        display: grid;
        place-content: center;
        background-image:linear-gradient(#D25B70 50%,#6CB3A9 0)
}

.sun {
        width: 200px;
        height:200px;
        border-radius: 50%;
        background-image: linear-gradient(#F6DF96 100px,
                        #6CB3A9 100px 115px,
                        #F6DF96 115px 125px,
                        #6CB3A9 125px 140px,
                        #F6DF96 140px 150px,
                        #6CB3A9 150px 165px,
                        #F6DF96 165px 175px,
                        #6CB3A9 175px 190px,
                        #F6DF96 190px 200px)
}